
@custom-selector :--no-margin h1, h2, h3, h4, h5, h6, p, ul, ol;


html,
body {
	
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-size: 100%;
	background: rgba(41, 41, 41, 1);
}

.wrapper {

	flex: 1 0;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

img {
	max-width: 100%;
	display: block;
}

:--no-margin {

	margin: 0;
	padding: 0;
}









